<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
{% block content %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mis Citas Médicas</title>

    <link rel="stylesheet" href="{% static 'micita.css' %}">
</head>
<body>


    <h2>Mis Citas Médicas</h2>

    {% if citas %}
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Especialidad</th>
                    <th>Doctor</th>
                </tr>
            </thead>
            <tbody>
                {% for cita in citas %}
                <tr>
                    <td>{{ cita.fecha|date:"d M Y" }}</td>
                    <td>{{ cita.hora|time:"g:i a" }}</td>
                    <td>{{ cita.especialidad.nombre }}</td>
                    <td>{{ cita.doctor.nombre }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="no-citas">Aún no tienes citas médicas programadas.</p>
    {% endif %}
</body>
</html>
{% endblock  %}