@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff; /* Color de fondo */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 1000; /* Hace que la barra esté por encima de otros elementos */
}

/* Ajusta el margen superior del contenido para que no quede oculto detrás de la barra */
main {
    margin-top: 70px; /* Ajusta según el tamaño de la barra */
}

/* Opcional: Asegurar que el `body` no tenga margen extra */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    padding-top: 80px;
}

.logo img {
    height: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;

}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: color 0.3s;
    text-align: center;
}

.nav-links a:hover {
    color: #007bff;
}

.icons a {
    margin-left: 15px;
    font-size: 20px;
    color: black;
}

.icons a:hover {
    color: #007bff;
}