<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}VitalIA{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
</head>
<body>

    <!-- Navbar -->

        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'src/imagenes/logo.png' %}" alt="VitalIA">
            </div>
            <ul class="nav-links">
                <li><a href="/menu/">Inicio</a></li>
                <li><a href="#">Sobre VitalIA</a></li>
                <li><a href="/medication-finder/">Encontrar Medicamentos</a></li>
                <li><a href="/appointments/">Agendar Cita Médica</a></li>
                <li><a href="/appointments/mis-citas/">Ver Mis Citas Médicas</a></li>
                <li><a href="/medication-management/">Manejo De Medicamentos</a></li>
                <li><a href="/testresults/">Resultados Médicos</a></li>
                <li><a href="/document-notification/">Notificación De Documentos</a></li>
                <li><a href="/documents-reminder/">Recordatorio De Documentos</a></li>
            </ul>
            <div class="icons">
                <a href="#"><i class="fa-solid fa-bell"></i></a>
                {% if user.is_authenticated %}
                    <a href="{% url 'perfil_usuario' %}" class="username-link">
                        👤 {{ user.username }}
                    </a>
                {% else %}
                    <a href="{% url 'login' %}" class="username-link">Iniciar sesión</a>
                {% endif %}
            </div>
        </nav>



    <!-- Contenido dinámico -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
