

{% extends "base.html" %}
{% block title %}Inicio - vitalIA{% endblock %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% block content %}
    <h1>Buscar Citas Médicas</h1>
    <form method="GET" action="{% url 'results' %}">
        <label for="date">Fecha:</label>
        <input type="date" id="date" name="date">

        <label for="specialty">Especialidad:</label>
        <select id="specialty" name="specialty">
            <option value="">Selecciona una</option>
            <option value="medicina_general">Medicina General</option>
            <option value="dermatologia">Dermatología</option>
            <option value="odontologia">Odontología</option>
        </select>

        <button type="submit">Buscar</button>
    </form>
{% endblock %}
