<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formula and Medications Management</title>
</head>
<body>
<h1>Formula and Medications Management</h1>
<p>The app should read the medical formula and give the patient pharmacies options where they can buy
    their medications along with prices and the pharmacy contact so they compare prices and locations</p>
<a href="/">Back to Home</a>
</body>
</html>
