<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<h1>Welcome to VitalIA</h1>
<nav>
    <ul>
        <li><a href="/medical-history-access">medical-history-access</a></li>
        <li><a href="/medication-reminder">medication-reminder</a></li>
        <li><a href="/appointment-rating-and-reviews">appointment-rating-and-reviews</a></li>
        <li><a href="/schedule-medical-appointment">schedule-medical-appointment</a></li>
        <li><a href="/menstrual-cycle-tracker">menstrual-cycle-tracker</a></li>
        <li><a href="/Formula-and-Medications-Management">Formula-and-Medications-Management</a></li>
        <!-- Add more links as needed -->
    </ul>
</nav>
</body>
</html>
