<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Story 2</title>
</head>
<body>
<h1>Medication Reminder</h1>
<p>The app after reading de medical formula should be able to shedule the days the patient has to take their medication according to the medical
    formula so they don't forget to take it, and have a good tracking of their medication consumption.</p>
<a href="/">Back to Home</a>
</body>
</html>
