<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Story 6</title>

</head>
<body>
<h1>Menstrual Cycle Tracker</h1>
<p>The female user should be able to log and track her menstrual cycle, and the information
    should be store in her profile so the doctor can have a good report on the appointment date,
    and that she can get detailed information about her menstrual cycle as her last period.</p>
<a href="/">Back to Home</a>
</body>
</html>